src/main/app/getepidelid-denormalisation-csd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<context:property-placeholder location="classpath:xds-mediator.properties, classpath:xds-mediator-override.properties"/>
    <flow name="getepidelid-denormalisation-csdFlow1" doc:name="getepidelid-denormalisation-csdFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="get-epid-elid" doc:name="VM"/>
        <custom-transformer class="org.openhim.mediator.denormalisation.CSDQueryGenerator" doc:name="Java"/>
        <response>
        	<logger level="INFO" doc:name="Log response" message="#[message.getPayloadAsString()]"/>
        	<mulexml:xml-to-dom-transformer doc:name="XML to DOM"/>
            <set-payload doc:name="Set Payload" value="#[['epid': xpath('//CSD/providerDirectory/provider/@oid').value, 'epidAssigningAuthorityId': '1.2.3', 'elid': '123', 'elidAssigningAuthorityId': '1.2.3']]"/>
            <message-properties-transformer doc:name="Message Properties">
                <add-message-property key="success" value="true"/>
            </message-properties-transformer>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${ilr.host}" port="${ilr.port}" method="POST" doc:name="HTTP" path="${ilr.csr.path}"/>
    </flow>
</mule>
