src/main/app/save-encounter-mediation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="save-encounter-mediationFlow1" doc:name="save-encounter-mediationFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="8081" doc:name="HTTP" responseTimeout="30000" path="xdsrepository"/>
        <cxf:proxy-service doc:name="CXF" payload="body" soapVersion="1.2" namespace="urn:ihe:iti:xds-b:2007" service="DocumentRepository_Service" wsdlLocation="src/main/resources/wsdl/XDS.b_DocumentRepository.wsdl" mtomEnabled="true">
        	<cxf:outInterceptors>
				<spring:bean class="org.mule.module.cxf.support.CopyAttachmentOutInterceptor"/>
			</cxf:outInterceptors>
        </cxf:proxy-service>
        <choice doc:name="Choice">
            <when expression="#[flowVars.cxf_operation.getLocalPart() == 'DocumentRepository_ProvideAndRegisterDocumentSet-b']">
                <logger level="INFO" doc:name="Logger" message="Detected provide and register via cxf operation."/>
                <set-variable variableName="docs" value="#[xpath('//xds:ProvideAndRegisterDocumentSetRequest/xds:Document')]" doc:name="Save Docs"/>
                <mulexml:jaxb-xml-to-object-transformer returnClass="ihe.iti.xds_b._2007.ProvideAndRegisterDocumentSetRequestType" jaxbContext-ref="JAXB_Context" doc:name="XML to JAXB Object"/>
                <component doc:name="Java">
                    <singleton-object class="org.openhim.mediator.xds.XDSValidator">
                        <property key="ecidAssigningAuthority" value="${pix.requestedAssigningAuthorityId}"/>
                    </singleton-object>
                </component>
                <mulexml:jaxb-object-to-xml-transformer jaxbContext-ref="JAXB_Context" doc:name="JAXB Object to XML" returnClass="org.w3c.dom.Document" />
                <mulexml:xml-to-dom-transformer doc:name="XML to DOM" returnClass="org.w3c.dom.Document"/>
                <custom-transformer class="org.openhim.mediator.xds.InjectDocumentsTransformer" doc:name="Inject Docs..." />
                <set-property propertyName="SOAPAction" value="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" doc:name="Add SOAP Action"/>
            </when>
            <when expression="#[flowVars.cxf_operation.getLocalPart() == 'DocumentRepository_RetrieveDocumentSet']">
                <logger message="Detected retrieve docuemnt set via cxf operation." level="INFO" doc:name="Logger"/>
                <set-property propertyName="SOAPAction" value="urn:ihe:iti:2007:RetrieveDocumentSet" doc:name="Add SOAP Action"/>
            </when>
            <otherwise>
                <logger message="Recieved invalid cxf operation. One of 'urn:ihe:iti:2007:RetrieveDocumentSet' or 'urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b' is expected." level="ERROR" doc:name="Logger"/>
                <scripting:component doc:name="Groovy">
                    <scripting:script engine="Groovy"><![CDATA[throw new java.lang.Exception("Unknown soap action");]]></scripting:script>
                </scripting:component>
            </otherwise>
        </choice>
        <cxf:proxy-client doc:name="CXF" payload="body" soapVersion="1.2" mtomEnabled="true">
            
        </cxf:proxy-client>
        <http:outbound-endpoint exchange-pattern="request-response" doc:name="HTTP"  responseTimeout="30000" host="${xds.repository.host}" method="POST" path="${xds.repository.path}" port="${xds.repository.port}" connector-ref="NoSessionConnector"/>
    </flow>
</mule>
